.about-content h3 {
    color: var(--app-primary-color);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 16px;
}
.color-primary{
    color: var(--app-primary-color);
}

.mat-mdc-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}