<div class="app-page-container">
    <mat-card class="card dashboard-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                <mat-icon class="color-primary">info</mat-icon>
                О программе File Flow
            </mat-card-title>
            <mat-card-subtitle>Высокопроизводительный десктопный файловый менеджер</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="about-content">
            <div class="info-section">
                <h3>О проекте</h3>
                <p>
                    <strong>File Flow</strong> — это современная десктопная утилита, созданная для глубокого анализа файловой системы, поиска дубликатов и наведения идеального порядка на диске.
                </p>
            </div>

            <div class="info-section">
                <h3>Технологический стек</h3>
                <mat-list>

                    <mat-list-item>
                        <mat-icon matListItemIcon class="color-primary">terminal</mat-icon>
                        <div matListItemTitle>Ядро (Бэкенд): Rust</div>
                        <div matListItemLine>Многопоточный поиск, высокая производительность</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon class="color-primary">web</mat-icon>
                        <div matListItemTitle>Интерфейс: Angular + Angular Material</div>
                        <div matListItemLine>Современный адаптивный UI</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon class="color-primary">desktop_windows</mat-icon>
                        <div matListItemTitle>Платформа: Tauri</div>
                        <div matListItemLine>Легковесная нативная оболочка</div>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="info-section">
                <h3>Разработчик и контакты</h3>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListItemIcon class="color-primary">person</mat-icon>
                        <div matListItemTitle>Автор и разработчик: <strong>Андрей Юрченко</strong></div>
                        <div matListItemLine>Почта для обратной связи: <a href="mailto:andrey@wsa.kz">andrew&#64;wsa.kz</a></div>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="info-section">
                <h3>Версия</h3>
                <p class="version-text" style="margin-left: 16px;">File Flow v0.2.9</p>
            </div>
        </mat-card-content>

        <mat-card-actions class="actions-footer">
            <button mat-stroked-button color="primary" routerLink="/">
                <mat-icon>arrow_back</mat-icon> На главную
            </button>
        </mat-card-actions>
    </mat-card>
</div>